body {
    color: var(--yellow);
    background-color: var(--gunmetal);
    font-family: "Audiowide";
    margin: 0;
}

.lobbies > div {
    border: 1px solid black;
    margin-top: 0.5%;
    width: 40%;
}

.lobbies > div:hover {
    background-color: #a7a7a7;
    cursor: pointer;
}
